@import url("https://fonts.googleapis.com/css?family=Lobster&effect=3d");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  box-sizing: border-box;
}

html {
  position: absolute;
  top: 0;
  font-size: calc(10px + 2vmin);
}

:root {
  --primary-color: rgb(255,255,255);
  --secondary-color: rgb(0,0,0);
  --header-color: rgb(230,230,230);
  --border-color: rgb(240,240,240);
  --input-color: rgb(240,240,240);
  --button-color: rgb(210,210,210);
  --query-table-color: rgb(0, 163, 14);
}

.app[data-theme='light'] {
  --primary-color: rgb(255,255,255);
  --secondary-color: rgb(0,0,0);
  --header-color: rgb(230,230,230);
  --border-color: rgb(240,240,240);
  --input-color: rgb(240,240,240);
  --button-color: rgb(210,210,210);
  --query-table-color: rgb(0, 163, 14);
  --link-color: rgb(102,51,102);
}

.app[data-theme='dark'] {
  --primary-color: rgb(0,0,0);
  --secondary-color: rgb(255,255,255);
  --header-color: rgb(25,25,25);
  --border-color: rgb(20,20,20);
  --input-color: rgb(20,20,20);
  --button-color: rgb(25,25,25);
  --query-table-color: rgb(0, 163, 14);
  --link-color: rgb(102,51,102);
}

body {
  position: relative;
  margin: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.root {
  background-color: white;
}

.app div{
  background-color:var(--primary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.blue {
  color: #a7c7e7;
}
header {
  display:flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 12vw;
  max-height: 15vw;
  width: 100vw;
  background-color: var(--header-color);
  box-shadow: 1px 0px 5px black;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.white {
  color: white;
}
header h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  color:rgb(0, 163, 14);
}
table {
  font-size: 0.75em;
  width: 90vw;
  border: none;
}
.modify-remedy {
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 90vw;
  max-width: 1000px;
  color: white;
  background-color: var(--primary-color);
  border: 10px solid var(--border-color);
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75), 0px 0px 40px rgba(0, 0, 0, 0.75),
    0px 0px 80px rgba(0, 0, 0, 0.5);
    transition-property: background-color, color;
  transition-duration: 0.25s;
}
.modify-remedy textarea {
  width: 80vw;
  max-width: 950px;
  height: 20vh;
  background-color: var(--input-color);
  border-radius: 0.625rem;
  font-weight: 600;
  padding: 0 3.5rem 0 0.5rem;
  color: var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.modify-remedy input {
  width: 80vw;
  max-width: 950px;
  height: 2em;
  font-weight: 600;
  background-color: var(--primary-color);
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 0.5rem;
  color:var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.top-right {
  position: absolute;
  top: 2.5%;
  right: 2.5%;
}
.top-right button {
  background-color: var(--button-color);
  border: none;
  color: var(--secondary-color);
  font-weight: 800;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.modifyBtn {
  height: 40px;
  width: 120px;
  background-color:rgb(80, 80, 80);
  color: var(--secondary-color);
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.approve-remedy {
  height: 40px;
  width: 70px;
  background-color:rgb(30,185,30);
  color: var(--secondary-color);
  font-size: .75rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.reject-remedy {
  height: 40px;
  width: 70px;
  background-color:rgb(255,30,30);
  color: var(--secondary-color);
  font-size: .75rem;
  font-weight: 600;
  border: none;
  border-radius: 20px;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.category-image {
 padding: none;
}
.homepage-img {
  height: 200px;
  min-height: 100px;
  padding-right: 40px;
  padding-left: 40px;
  padding-bottom: 10px;
}

#header-container {
background-color: transparent;
display:flex;
justify-content: space-between;
align-items: center;
width: 90vw;
}

.d-flex {
  display: flex;
}
.center {
  margin-left: auto;
  margin-right: auto;
}
.justify-content-around {
  justify-content: space-around;
}
.text-align-center {
  text-align: center;
}
.d-block {
  display: block;
}
.list-style-none {
  list-style: none;
}
.green {
  color: rgb(0, 163, 14);
}
.red {
  color: #ff6961;
}
h2 {
  font-size: 1.5rem;
  font-family: "Roboto";
  font-weight: 200;
  font-style: normal;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 40px;
  padding-bottom: 20px;
}
h3 {
  padding-bottom: 20px;
  padding-top: 0;
  margin: 0;
  color: var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.font-weight-400 {
  font-weight: 600;
}
hr {
  width: 80%;
  border-color: rgb(199, 205, 205);
}

.wrap {
  flex-wrap: wrap;
}
.flex-child {
  flex: 1 0 21%;
  text-align: center;
}
.flex-child p {
  margin-top: 5px;
  margin-bottom: 5px;
  font-weight: 600;
  color: var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
  
}
/*
.flex-child img {
  height: 200px;
  width: 300px;
} */
.dw-75 {
  width: 75%;
}
.addBtn {
  height: 100px;
  padding: 0 0 0 20px;
}
.align-items-center {
  align-items: center;
}
.justify-content-end {
  justify-content: flex-end;
}
justify-content-start {
  justify-content: flex-start;
}
.justify-content-center {
  justify-content: center;
}

#logo {
  display:block;
  margin: 0 10vw 0 10vw;
  width: 30vw;
  font-family: "Lobster";
  font-size: 1.25rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
  background-color: transparent;
    
}

.inherit-height {
  height: inherit;
}

.vh10 {
  height: 10vh;
  font-size: 0;
}
.modal {
  z-index: 10;
  margin-left: auto;
  margin-right: auto;
  height: 75vh;
  width: 90vw;
  max-width: 1000px;
  border: 10px solid rgb(80, 80, 80);
  border-radius: 10%;
}
.modal label {
  color: var(--secondary-color);
}
.view-details {
  z-index: 10;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 75vh;
  width: 90vw;
  max-width: 1000px;
  background-color: var(--primary-color);
  color: white;
  border: 10px solid var(--border-color);
  border-radius: 10%;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75), 0px 0px 40px rgba(0, 0, 0, 0.75),
    0px 0px 80px rgba(0, 0, 0, 0.5);
    transition-property: background-color, color;
  transition-duration: 0.25s;
}

.view-details div {
  display: block;
}
.overlay {
  position: absolute;
  z-index: 5;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--primary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.modal textarea {
  width: 80vw;
  max-width: 950px;
  height: 20vh;
  background-color:var(--input-color);
  color: var(--secondary-color);
  border-radius: 0.625rem;
  padding: 0 3.5rem 0 0.5rem;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.modal input {
  width: 80vw;
  max-width: 950px;
  border-radius: 1.625rem;
  padding: 0 3.5rem 0 0.5rem;
  height: 2em;
  font-weight: 600;
  color: var(--secondary-color);
  background-color: var(--input-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
a {
  font-style: none;
  text-decoration: none;
  color: rgb(199, 205, 205);
}
#273B42 a:active {
  color: rgb(199, 205, 205);
}
.ff-column-100 {
  max-height: max-content;
  min-height: 100vh;
}
.padding-none {
  padding: 0;
}
.margin-none {
  margin: 0;
}
.font-weight-800 {
  font-weight: 800;
}
.padding-top-40 {
  padding-top: 40px;
}
.page-imgs img {
  height: 3em;
}

.delete {
  background-color: #fa2f57;
  border: 2px solid #800500;
  border-radius: 10%;
  height: 40px;
  width: 60px;
  font-weight: 600;
  font-size: 1em;
}
.modify {
  background-color: #fcae00;
  border: 2px solid #b17807;
  border-radius: 10%;
  height: 40px;
  width: 60px;
  font-weight: 800;
  font-size: 1em;
}
.margin-left-10 {
  margin-left: 10px;
}
.organ-heading {
  padding-left: 40px;
}
.organ-heading h1 {
  font-family: 'Roboto', sans-serif;
  color: var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}

.info {
  background-color: rgb(66, 125, 252);
  border: none;
  color: var(--secondary-color);
  border-radius: 10%;
  height: 40px;
  width: 60px;
  font-weight: 600;
  font-size: 1em;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.pad-10 {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 0.8em;
}
.top-center {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.top-center h1 {
  padding-bottom: 10px;
  margin: 0;
  color: rgb(199, 205, 205);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
}

.top-20-down {
  position: relative;
  top: 20px;
}
.createBtn {
  height: 50px;
  font-weight: 800;
  background-color: var(--button-color);
  border: none;
  color: var(--secondary-color);
  border-radius: 10px;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.query-styling {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 600;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.theader-styling {
  background-color: var(--header-color);
  color: var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
p {
  color: var(--secondary-color);
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
.add-remedy-header {
  color: rgb(199, 205, 205);
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.7);
  font-weight: 600;
  padding-top: 0;
  padding-bottom: 10px;
}


.toggle-button {
  width: 2em;
  height: 2em;
  opacity: 0.5;
  background-color: transparent;
}
#login {
  display: block;
  margin: 0;
  background-color: transparent;
  transition-property: background-color, color;
  transition-duration: 0.25s;
}
#login p {
  font-family: 'Roboto';
  text-shadow: none;
  font-size: 0.75em;
  color: var(--secondary-color);
}
.login h1{
    margin: 0;
    color: var(--secondary-color);
    font-size: 48px;
    padding: 1rem;
    text-align: center;
}
.login h2 {
  text-align: center;
  padding: 1rem;
}
.login label{
  color: var(--secondary-color);
  font-size: 0.8rem;
}
.login * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.login p {
 font-size: 0.5rem;
}
.login a {
  color: var(--link-color);
  font-size: 0.8rem;
}

.createAccount a {
  color: var(--link-color);
  font-size: 0.8rem;
}
.top {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 1rem;
}
.divider {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--secondary-color);
  line-height: .1rem;
  margin: 1.5rem;
}
.divider span {
  padding: 0 10px;
  background-color: var(--primary-color);
}
.login form {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.login label {
  margin: 8px;
  font-weight: 600;
}
.login input {
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 6px;
  border: 1px solid var(--secondary-color);
  background-color: var(--primary-color);
  color: var(--secondary-color);
}
.rememberMe {
  display: flex;
  align-items: center;
  width: 100%;
}
.login input[type=checkbox]:checked{
  margin: 0;
  padding: 0;
}
.rememberMe p {
  padding-left: 8px;
}
.login button {
  background-color: rgb(0, 163, 14);
  color: #fff;
  width: 150px;
  height: 50px;
  font-size: .75rem;
  margin: 16px 0;
  padding: 10px;
  border-radius: 25px;
  border: 0px solid black;
  box-sizing:border-box;
  box-shadow: 0px 0px 5px #000;
  font-weight: 600;
  cursor: pointer;
}
.bottom  p {
  padding: 16px;
}
.login i {
  font-size: 1.75rem;
  color: var(--secondary-color);
}
.top{
  margin-top: 12px;
}
.model-button {
  width: 50px;
  height:50px;
  border: 5px dotted red;
  border-radius: 50%;
  background-color: transparent;
}
.model-button:hover {
background-color: rgba(255, 0, 0, 0.5);
transition-property: background-color;
transition-duration: 0.5s;
}
.head {
  position: absolute;
  top: 485px;
  left: 725px;
}
.test-approvals {
  display: block;
  height: 50px;
  width: 200px;
  text-align: center;
  margin: auto;
  background-color: red;
  color: white;
  font-size: .75rem;
}
.logged-in-buttons {
  padding-bottom: 40px;
}

@media (max-width: 550px) {
  /* For mobile devices: */

  .login button {
    width: 75px;
    height: 30px;
  }
  header h1 {
    font-size: 1.75em;
  }

  table {
    width: 350px;
  }
  td {
    width: 10px;
  }
  .modify-remedy h1 {
    font-size: 1em;
  }
  .modify{
    width: 40px;
    height: 40px;
    font-size:1em;
  }
  .delete {
    width: 40px;
    height: 40px;
    font-size: 1em;
  }
  .prio-4 {
    display:none;
  }
  .prio-3 {
    display: none;
  }
  .prio-6 {
    display: none;
  }

  .top-right button {
    background-color: var(--button-color);
    border: none;
    color: var(--secondary-color);
    font-weight: 800;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition-property: background-color, color;
  transition-duration: 0.25s;
  }
  .top-right {
    position: absolute;
    top: -1%;
    right: -1%;
  }
  .homepage-img {
    height: 5em;
    min-height: 5em;
    width: 8em;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 10px;
  }
  #toggle {
    background-color: transparent !important;
  }
  .toggle img {
    opacity: 0.5;
  }
  .toggle-button img:hover {
    opacity: 1;
  }
  .info {
    background-color: rgb(66, 125, 252);
    border: none;
    color: var(--secondary-color);
    border-radius: 10%;
    height: 40px;
    width: 40px;
    font-weight: 600;
    font-size: 1em;
    transition-property: background-color, color;
  transition-duration: 0.25s;
  }

  .organ-heading{
    font-size: 0.5em;
    padding-left: 10px;
  }
  .add-remedy{
    display: none;
  }
  #footer {
    height: 7.5vh;
    background-color: var(--header-color);
    color: var(--secondary-color);
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 2rem;
    color: #fff;
    position: sticky;
    bottom: 0;
  }
  .secondary-color {
    color: var(--secondary-color);
  }
    .login-container {
    display: flex;
    flex-direction :column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 80vw;
    height: 70vh;
    margin: auto;
    box-shadow: 0px 0px 12px var(--secondary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
  }
  .sad-panda {
    height: 100px;
  }
  .not-logged-in {
    width: 80%;
    text-align: center;
    margin: 0px auto 0px auto;
    padding-top: 100px;
    flex-direction: column;
  }
  .models {
    height: 700px;
  }
  .small-text {
    font-size: 0.75rem;
  }
  .model-types select {
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 8px;
  }
 
}

@media (min-width: 750px) {
  /* For desktops */
  .prio-10 {
    display:none;
  }
  header h1 {
    font-size: 3em;
  }
  #toggle {
    background-color: transparent;
  }
  .toggle-button :hover {
    opacity: 1;
  }
  .add-remedy img {
    height: 75px;
  }
  .add-remedy h2 {
    font-size: 1.5rem;
    padding: 0;
  }
  .info {
    background-color: rgb(66, 125, 252);
    border: none;
    color: var(--secondary-color);
    border-radius: 10%;
    height: 40px;
    width: 70px;
    font-weight: 600;
    font-size: 1em;
    transition-property: background-color, color;
  transition-duration: 0.25s;
  }
  .login-container {
    display: flex;
    flex-direction :column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    width: 500px;
    height: 700px;
    margin: auto;
    box-shadow: 0px 0px 12px var(--secondary-color);
    border-radius: 8px;
    background-color: var(--primary-color);
  }
  .sad-panda {
    height: 200px;
  }
  .not-logged-in {
    width: 90%;
    text-align: center;
    margin: 0px auto 0px auto;
    padding-top: 100px;
    flex-direction: column;
  }
  #models {
    height: 700px;
  }
  .small-text {
    font-size: 0.75rem;
  }
  .model-types select {
    font-size: 1rem;
    margin-bottom: 8px;
    margin-top: 8px;
  }
}